NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/pretty-parcel
# Example Atlas URI:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=pretty-parcel
MONGODB_DB_NAME=pretty-parcel
JWT_SECRET=change-me-to-a-long-random-secret
NEXT_PUBLIC_APP_URL=http://localhost:3000
ENABLE_MOCK_PAYMENTS=true
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxx
ADMIN_EMAIL=admin@theprettyparcel.com
ADMIN_PASSWORD=PrettyParcel@123
